
.App {
  text-align: center;
}

.page-container{

  max-width: 800px;
  background: #E5E4E4;
  min-height: 600px;
  text-align: center;
  padding: 30px;
  margin: 20px 0;

}
.button-container{
  margin: 20px 0;

}
